@font-face {
    font-family: "BDO Grotesk";
    src: url("/BDOGrotesk-VF.woff");
    font-style: normal;
    font-weight: 100 900;
}

@font-face {
    font-family: "VAR 1";
    src: url("/VAR1GX.ttf");
    font-style: normal;
    font-weight: 100 600;
}
@font-face {
    font-family: "VAR 2";
    src: url("/VAR2GX.ttf");
    font-style: normal;
    font-weight: 100 600;
}
@font-face {
    font-family: "VAR 3";
    src: url("/VAR3GX.ttf");
    font-style: normal;
    font-weight: 100 600;
}
@font-face {
    font-family: "VAR 4";
    src: url("/VAR4GX.ttf");
    font-style: normal;
    font-weight: 100 600;
}
@font-face {
    font-family: "VAR 5";
    src: url("/VAR5GX.ttf");
    font-style: normal;
    font-weight: 100 600;
}
@font-face {
    font-family: "VAR 6";
    src: url("/VAR6GX.ttf");
    font-style: normal;
    font-weight: 100 600;
}
@font-face {
    font-family: "VAR 7";
    src: url("/VAR7GX.ttf");
    font-style: normal;
    font-weight: 100 600;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "BDO Grotesk", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
        Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    overscroll-behavior: none;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
